<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>It's <%= KindOfDay %></h1>
    </div>
    <div class="box">
        <%itemarr.forEach((item)=>{%>
        <div class="item">
            <input type="checkbox">
            <p><%=item%></p>
        </div>
        <%})%>

        <form action="/" method="post">
            <input type="text" name="NewItem" placeholder="Add New Item" autocomplete="off">
            <button type="submit" name="list", value="<%= KindOfDay %>">+</button>
        </form>
    </div>
    <!-- <df-messenger
        intent="WELCOME"
        chat-title="dmofice"
        agent-id="5ecae7fc-6d5e-42d7-9b7a-5775ebf4aada"
        language-code="en">
    </df-messenger> -->

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
</body>
</html>